*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 40px;
  background-color: #151515;
  font-family: "Franklin Gothic Medium", Arial;
}

h2{
  color: #ffffff;
  text-align: center;
  font-size: 48px;
}

.card{
  border:1px solid #4b5362;
  padding:20px;
  margin: 10px;
  background-color: #31363f;
  min-height: 100px; 
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}

button{
  border: none;
  font-size: 30px;
  background-color: transparent;
  widows: 100%;
  text-align: right;
  cursor: pointer;

}